{{#address}}
  <div class="form-group">
    <label for="addressLine1">Address line 1</label>
    <input id="addressLine1" type="text" minlength="1" name="addressLine1" value="{{address.addressLine1}}">
  </div>
  <div class="form-group">
    <label for="addressLine2">Address line 2</label>
    <input id="addressLine2" type="text" minlength="1" name="addressLine2" value="{{address.addressLine2}}">
  </div>
  <div class="form-group">
    <label for="postCode">Post code</label>
    <input id="postCode" type="text" minlength="1" name="postcode" value="{{address.postcode}}">
  </div>
{{/address}}