<!DOCTYPE html>
<html lang="en">

{{> head-partial}}

<body>

  <!-- Navigation -->
  {{> navbar-partial}}

  <!-- Page Content -->
  <div class="container">

    <div class="row">

     {{> categories-partial}}

      <div class="col-lg-9">
        <div class="row mt-4">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
              </tr>
              </thead>
              <tbody>
              {{#basketItems}}
              <tr>
                <th scope="row">{{cake.name}}</th>
                <td>x{{count}}</td>
                <td>
                  <form action="/basket/delete" method="post">
                    <label>
                      <input hidden name="sku" value="{{cake.sku}}">
                    </label>
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
                    <input type="submit" class="btn btn-primary" value="Remove">
                  </form>
                </td>
              </tr>
              {{/basketItems}}
              </tbody>
            </table>
          {{^basketItems}}
            <div class="row">
              <p class="text-center">Your basket is empty. Add some items from catalog</p>
            </div>
          {{/basketItems}}

        </div>
        <!-- /.row -->

        <div class="row">
          <form name="orderInfo" action="/orders" method="post">
            {{> address-inputs}}
            <input hidden name="{{_csrf.parameterName}}" value="{{_csrf.token}}">
            <button class="btn btn-primary" type="submit">Complete order</button>
          </form>
        </div>

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {{> footer-scripts-partial}}

</body>

</html>
