<div class="row">
  <div class="form-group">
    <label for="user-email">Email</label>
    <input id="user-email" type="email" minlength="5" name="email" value="">
  </div>
</div>
<div class="row">
  <div class="form-group">
    <label for="user-password">Password</label>
    <input id="user-password" type="password" minlength="6" name="password" value="">
  </div>
</div>