<!DOCTYPE html>
<html lang="en">

{{> head-partial}}

<body>

  <!-- Navigation -->
  {{> navbar-partial}}

  <!-- Page Content -->
  <div class="container">

    <div class="container">
      <form name="loginData" action="/login" method="post">
        <div class="row">
          <h4>Login</h4>
        </div>
        {{> credentials-inputs}}
        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}" />
        <button id="login-button" class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    <!-- /.row -->
    <div class="row">
      <a id="signup-link" class="nav-link" href="/signup">Signup</a>
      <a id="fb-login" class="nav-link" href="/oauth2/authorization/facebook">Login with Facebook</a>
    </div>
  </div>
  <!-- /.container -->

  {{> footer-scripts-partial}}

</body>

</html>
