<!DOCTYPE html>
<html lang="en">

{{> head-partial}}

<body>

  <!-- Navigation -->
  {{> navbar-partial}}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="row">
        <form name="signupData" action="/signup" method="post">
          <div class="form-group">
            <label for="user-email">Email</label>
            <input id="user-email" type="email" minlength="5" name="user[email]" value="">
          </div>
          <div class="form-group">
            <label for="user-password">Password</label>
            <input id="user-password" type="password" minlength="6" name="user[password]" value="">
          </div>
          <div class="form-group">
            <label for="addressLine1">Address line 1</label>
            <input id="addressLine1" type="text" minlength="1" name="address[addressLine1]" value="">
          </div>
          <div class="form-group">
            <label for="addressLine2">Address line 2</label>
            <input id="addressLine2" type="text" minlength="1" name="address[addressLine2]" value="">
          </div>
          <div class="form-group">
            <label for="postCode">Post code</label>
            <input id="postCode" type="text" minlength="1" name="address[postCode]" value="">
          </div>
          <button id="sign-up" class="btn btn-primary" type="submit">Signup</button>
        </form>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  {{> footer-scripts-partial}}

</body>

</html>
